.connectors-container {
    display: flex;
    flex: 1 1 0%;
    gap: 0.75rem;
}

.connector-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: white;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    flex: 1 1 0%;
    height: 48px;
    padding: 0px;
}

.connector-button:hover {
    background-color: #f2f2f2;
}

.modal-inner-wrapper, .email-login-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}